[submodule "CRoaring"]
	path = CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "BitMagic"]
	path = BitMagic
	url = https://github.com/lemire/BitMagic.git
[submodule "EWAHBoolArray"]
	path = EWAHBoolArray
	url = https://github.com/lemire/EWAHBoolArray.git
[submodule "cbitset"]
	path = cbitset
	url = https://github.com/lemire/cbitset.git
[submodule "Concise"]
	path = Concise
	url = https://github.com/lemire/Concise.git
